$show: 1px solid;

body {
    background-color: darkcyan;
}

.window {
    margin:auto;
    margin-top: 100px;
    width: 365px;
    
    .screen {
        padding: 5px;
        background-color: white;
        text-align: right;
    }

    // table {
    //     :first-child {
    //         padding-top: 5px;
    //     }
    //     :last-child {
    //         padding-bottom: 5px;
    //     }
    // }

        table {
            background-color: rgba(250, 235, 215, 0);
        }

    .number {
        color: blue;
    }
    .operator {
        color: red;
    }
}



// to compile: sass styles.scss styles.css
//             sass <input> <output>
