$show: 1px solid;

body {
    background-color: darkcyan;
}

.window {
    margin:auto;
    margin-top: 100px;
    width: 365px;
    
    .screen {
        padding: 5px;
        background-color: white;
        text-align: right;
    }

    table {
        :first-child {
            padding-top: 5px;
        }
        :last-child {
            padding-bottom: 5px;
        }
    }
    .number {
        color: blue;
    }
    .operator {
        color: red;
    }
}



// to compile: sass styles.scss styles.css
//             sass <input> <output>
